#grab {
    position: absolute;
    z-index: 9;
    text-align: center;
    padding: 0;
}

.row{
    margin-bottom: 0;
}

select{
    width: 100px;
    position: relative !important;
}

#grab2 {
    padding: 10px;
    cursor: move;
    z-index: 10;
}

.input-field {
    margin: 0;
}

.card, .card-content {
    background: rgba(255, 255, 255, 0.2);
}